<div class="backgroundCat">
  <div class="imageCat">
    <img src="https://cmkt-image-prd.global.ssl.fastly.net/0.1.0/ps/1334203/580/386/m1/fpnw/wm0/plane-icon-flat-01-.jpg?1464952489&s=38777cd7c816b0f5a846c8b3c76c52ca" alt="">
  </div>
  <div class="contentCat">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente dignissimos maxime earum. Iure sit, quo magni nisi dignissimos perspiciatis! Asperiores esse tempore ea! Cumque vel iure repudiandae similique, eos vero.
    </p>
  </div>
</div>