<div class="backgroundHome">
<app-menu></app-menu>
<app-slider></app-slider>
<div class="categories">
    <app-category></app-category>
    <app-category></app-category>
</div>
<app-promo></app-promo>
<!-- <app-promo></app-promo> -->
<div class="packages">
    <div class="titlePackInHome">Paquetes Turísticos</div>
    <div class="contentPackInHome">
        <app-package></app-package>
        <app-package></app-package>
        <app-package></app-package>
    </div>
</div>
<app-footer></app-footer>
</div>