<app-menu></app-menu>
<div class="backgroundInicio">
    <div class="outerBox">
      <div class="title">Iniciar Sesión</div>
      <div class="innerBox">
        <div class="content">
          <input type="text" name="email" id="" placeholder="Correo Electronico...">
          <input type="password" name="password" id="" placeholder="Contraseña...">
        </div>
        <div class="buttons">
          <div class="button inicioButton" (click)="SignIn()">Iniciar Sesión</div>
          <div class="button cancelarButton" (click)="Cancel()">Cancelar</div>
        </div>
      </div>
    </div>
  </div>