<div class="backgroundMenu" id="backgroundMenu">
        <div class="sec4">
            <div (click)="Mobile()">
          <i class="material-icons">menu</i>
      </div>
    </div>
    
      <div class="sec1">
      <div (click)="Home()">Inicio</div>
      <div>Viajes</div>
      <div>Promociones</div>
  </div>
  <div class="sec2">
      <div (click)="Register()">Registrarse</div>
      <div (click)="SignIn()">Iniciar Sesión</div>
  </div>
  <!-- <div class="sec3">
      <div (click)="UserHome()">User</div>
      <div (click)="SignOut()">Log Out</div>
  </div> -->
  </div>