<app-menu></app-menu>
<div class="backgroundRegister">
  <div class="outerBox">
    <div class="title">Registro</div>
    <div class="innerBox">
      <div class="fullName">
        <input type="text" name="name" id="" placeholder="Nombre...">
        <input type="text" name="lastname" id="" placeholder="Apellido...">
      </div>
      <div class="content">
        <input type="text" name="email" id="" placeholder="Correo Electronico...">
        <input type="password" name="password" id="" placeholder="Contraseña...">
        <input type="text" name="telefono" id="" placeholder="Teléfono (Celular)...">
        <input type="text" name="image" id="" placeholder="URL Image...">
      </div>
      <div class="buttons">
        <div class="button registroButton" (click)="Register()">Registrarse</div>
        <div class="button cancelarButton" (click)="Cancel()">Cancelar</div>
      </div>
    </div>
  </div>
</div>